aiofiles
aiohttp
aria2p
beautifulsoup4
cfscrape
coffeehouse
covid
cowpy
cryptg
csvfaker
dadjokes-cli
deezloader
dnspython
emoji
fast.com
geopy
gitpython
glitch_this
google-api-python-client
google_auth_oauthlib
googletrans
gsearch>=1.6.0
gtts
hachoir
heroku3
html_telegraph_poster
htmlement
httplib2==0.15.0
humanize
hurry.filesize
jikanpy
jotquote
justwatch
lottie
lxml
lyricsgenius
names
nekos.py
oauth2client
Pillow
PyGithub
pathlib
patool
pendulum
psutil
psycopg2-binary
pySmartDL
pybase64
pyfiglet
pymongo
python-barcode
python-magic
pytube3
pygments
pytuneteller
qrcode
random_cli
regex
remotezip
requests
search-engine-parser>=0.4.2
selenium
spamwatch
speedtest-cli
spotify_token
sqlalchemy
telegraph
urbandict
wget
wheel
wikipedia
youtube-dl